<app-header></app-header>
<div  class="homebody">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-md-6 col-lg-4">
         <div class="transbox">
          <div class="loginitem">
            <form #form="ngForm" (ngSubmit)="form.valid&&loginbm()">
              <h3 class="text-center mb-4">LOGIN </h3><p>- Batch Manager</p>
               <div class="mb-3">
                <label class="form-label">Username</label>
                <input  class="form-control" required placeholder='Enter Username' #username="ngModel" name="username" [(ngModel)]="user.username">
                <small class="text-danger" *ngIf="form.submitted&&username.errors?.['required']">*Enter Username</small>
              </div>
  
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input  class="form-control" required placeholder='Enter Password' #password="ngModel" type="password" name="password" [(ngModel)]="user.password" >
                
                <small class="text-danger" *ngIf="form.submitted&&password.errors?.['required']">*Enter Password</small>
              </div>

              <div class="row mb-4">
                <div class="col d-flex justify-content-between">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
                    <label class="form-check-label" for="form2Example34">Remember</label>
                  </div>
                </div>
              </div>

              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary"><b>LOGIN</b></button>
              </div>
            </form>
          </div>
        </div>
      </div>  
    </div>
</div>

