<div class="footerbody">
    <div>
       
        <div style="font-family: 'Chakra Petch', sans-serif;" class="text-center word22 pt-1"><h4>Connect Us</h4></div>
        <div class="social">
            <ul class="no-list">
                <a href="https://www.facebook.com/ictkerala/" target="_blank">
                    <li class="facebook"><i class="fab fa-facebook-f"></i></li>
                </a>
                <a href="https://twitter.com/ictakerala?lang=en" target="_blank">
                    <li class="twitter"><i class="fab fa-twitter"></i></li>
                </a>
                <a href="https://web.whatsapp.com/" target="_blank">
                    <li class="whatsapp"><i class="fab fa-whatsapp"></i></li>
                </a>
                <a  href="https://mail.google.com/" target="_blank">
                    <li class="gmail"><i class="fab fa-google"></i></li>
                </a>
                <a  href="https://www.instagram.com/ictkerala/" target="_blank">
                    <li class="instagram"><i class="fab fa-instagram"></i></li>
                </a>
                <a href="https://www.youtube.com/user/ictkerala" target="_blank">
                    <li class="youtube"><i class="fab fa-youtube"></i></li>
                </a>
              </ul>
        </div>

      
    <br><br><br>
    <div class="address">
        <div class="center box">
           
            <div class="content">
                <span class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">&nbsp; L-9, Thejaswini Building, Technopark, Thiruvananthapuram, Kerala 695581</span>
                </span>
                <span class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text"> &nbsp;0471-2700811/12/13</span>
                </span>
                &nbsp;&nbsp;
                <span class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">&nbsp; info@ictkerala.org</span>
                </span>
            </div>
        </div>
    </div>   
        <div style="font-family: 'Bai Jamjuree', sans-serif;" class="text-dark text-center mt-4">
            <div style="font-size: 15px; font-family: 'Chakra Petch', sans-serif;"><b>Copyright © 2022 <a href="https://ictkerala.org/" target="_blank" style="text-decoration:none ; cursor: pointer;"> &nbsp; ICT Academy of Kerala</a></b></div>
            <div class="span2 mb-2" style="color:black;">
               Created by  <b>ICTAK ID APP system</b>. All rights reserved.
            </div>
         </div> 
         
    </div>
</div>

