<app-header1></app-header1>

<section class="vh-100 bg-image"
style="background-image: url('https://media.istockphoto.com/photos/sphere-backgrounds-and-planet-concept-picture-id1224971927?k=20&m=1224971927&s=612x612&w=0&h=6zbBxJLKORSl1zIsz9Yf10XBpe1tMlZvDI8BBEnNNnU=');">'



<div class="wrapper">
  <div class="container">
   <div class="row card-header rounded d-flex justify-content-between align-items-center">
    <div class="col-md status text-center">
    <div class="col-md status text-center">{{newdata.status}}</div>
    <div class="col text-center" [hidden]="restricted == true"> <button class="approved" type="button"><i class="fa fa-download" aria-hidden="true"></i>Approved</button>
    </div> 
   </div>
      
     

   <div class="col-sm mx-1 p-2">
    <div class="id-card-holder">
     <div class="id-card"  >
      <div class="header">
       <img loading="lazy" src="https://th.bing.com/th/id/OIP.EYpw69eQqzCnY7mD4RLV1wHaG9?pid=ImgDet&rs=1">
      </div>
     
      <hr>
      <h6>ICT Academy of Kerala</h6>
      <p>ICTAK - Supported by Govt. of India, partnered by Govt. of Kerala and the IT industry<p>
      </div>
    </div>
     </div>
    </div>
  </div>
  </div>
 
<app-footer1></app-footer1>

