<app-header></app-header>
<div  class="homebody">
<div class="container">
	<div class="row justify-content-center">
	    <div class="col-10">
            <div class="transbox">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                    <div class="panel-body">
                    <form ngNativeValidate #form="ngForm" id="register-form"  role="form" autocomplete="off" class="form" method="post" (ngSubmit)="form.valid&&sendmail()">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="Email address" class="form-control" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user.email" type="email" required>
                          <small class="text-danger" *ngIf="form.submitted&&email.errors?.['required']">*Email required</small>
                          <small class="text-danger" *ngIf="form.submitted&&email.errors?.['pattern']">*Enter valid email</small>
        
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
</div>
