.homebody {
    background-image: url('https://www.segs.com.br/media/k2/items/cache/2838fdc8e0d36436896663c79cdf331c_XL.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 575px;
    margin-top: 5%;
}

.text-center {

    width: 340px;

}

.form-group {
    width: 90%;
    margin-left: 10%;

}

div.transbox {

    background-color: whitesmoke;
    border: 5px solid black;
    opacity: 0.8;
    width: 450px;
}

.transbox {
    padding: 40px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 60px;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    background: linear-gradient(-45deg, #6355a4, #6355a4, #e89a3e, #e89a3e);
    background-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 35px;
    letter-spacing: -1px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}