<app-header1></app-header1>

<div class="card bg-dark text-white">
    <img class="card-img" src="https://media.istockphoto.com/photos/document-management-conceptbusinessman-working-with-laptop-computer-picture-id1363745804?b=1&k=20&m=1363745804&s=170667a&w=0&h=bg8l1q_LOIuWsZ4GrK90EVr72AoYoP4WLKsr_8D0T7U="  height="500" alt="Card image">
    <div class="card-img-overlay">
      <h1 class="card-title">Build your Career with ICTAK</h1>
      <p class="card-text">ICT Academy of Kerala (ICTAK) is a social enterprise officially launched on the 24th of June, 2014. The organization had a humble beginning providing skill training programs to selected academic institutions. Over the years, ICTAK has grown to a prime service provider of all ICT and innovation-related training and capacity-building programs in the state.</p>
     
    </div>
  </div>
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-info">
    <a class="navbar-brand" href="#">
     <h1>Our Courses</h1>
  
    </a>
  </nav>
  
  <div claa="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://retail.ictkerala.org/pluginfile.php/104662/course/overviewfiles/mean-stack1.png" class="card-img-top" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h5 class="card-title">Certified Specialist In FSD (MEAN)</h5>
          <p class="card-text">
            The MEAN stack is an excellent choice for web developers who wish to develop high-quality web applications using JavaScript.he core technologies define the MEAN stack – MongoDB, Express.js, Angular, and Node.js – all are based on one language, Javascript. 
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://retail.ictkerala.org/pluginfile.php/157054/course/overviewfiles/Data-Science-vs.-Big-Data-vs.jpg" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
          <h5 class="card-title">Certified Specialist in Data Science & Analytics</h5>
          <p class="card-text">
            Data Scientists are a breed of data experts who have the technical skills to solve complex problems. On the other hand, analytics interpret data and turn it into information that can offer ways to improve a business.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://retail.ictkerala.org/pluginfile.php/156255/course/overviewfiles/eh1.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Certified Cyber Security Analyst</h5>
          <p class="card-text">Cyber Security is a specialized field in Information Technology (IT) regarded as a sub-stream in Computer Science. Cyber Security as a profession has evolved over the years, one of the reasons being the increasing rate of cybercrimes. Any industry that transacts online or carries sensitive data requires a Cyber Security professional to safeguard its data from such delinquents.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://retail.ictkerala.org/pluginfile.php/29507/course/overviewfiles/machine-learning-ecommerce-blog-1.jpg" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Machine Learning & Artificial Intelligence</h5>
          <p class="card-text">
            Machine Learning and Artificial Intelligence are the two hot buzzwords in the 21st century. These two areas focus more on analyzing and interpreting patterns in data to enable learning and decision making, all outside of human interaction. The boundless amount of data, inexpensive storage and powerful processing has propelled the growth of ML & AI.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <app-footer1></app-footer1>


